@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$primary: $purple;
$link: $pink;

@import '../node_modules/bulma/bulma.sass';

.tutorial {
  text-align: center;
  margin: auto;
}
.hero {
  margin-bottom: 20px;
}

/* DROPDOWN STYLES */
.dropdown {
  width: 100%;
  .dropdown-trigger {
    width: 100%;
  }
  .results {
    max-height: 500px;
    overflow-y: scroll;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    height: 60px;

    & img {
      height: 50px;
      margin-right: 10px;
    }
  }
}

/* SUMMARY STYLES */
.summary {
  .movie-description {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }

  .poster {
    width: 50vw;
    margin: 0 auto;
    margin-top: 15px;

    & img {
      border-radius: 4px;
    }

    @media (min-width: 768px) {
      width: 15vw;
      margin: 15px 15px 15px 0;
      height: 33vw;
    }
    @media (min-width: 875px) {
      height: 24vw;
    }
  }
  .movie-details {
    text-align: center;
    margin: 15px 0;

    @media (min-width: 768px) {
      text-align: unset;
    }
  }
  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    @media (min-width: 768px) {
      height: 25vh;
    }
  }
}
